.moreinfo {
  display: none;
}

.nopic {
  display: none;
}

.si {
  cursor: pointer;
  color:orange;
}

.si:hover {
  text-decoration: underline;
}

.no {
  cursor: pointer;
  color: orange;
}

.no:hover {
  text-decoration:underline;
}
